.form{
    position: relative;
    height: 70vh;




    &__box{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        // height:  30rem;
        width: 30%;
        // background-color: wheat;
        padding: 3rem;
        box-shadow: 0 1.5rem 2rem rgba($color-black, .5);
        border-radius: 3px;
    }

    &__heading{
        text-align: center;
        padding: 2rem;
    }

    &__group{


        &:not(:last-child){
            margin: 2rem 0;
        }
        // padding: 2rem ;
        // text-align: center;
        &--btn{
            text-align: center;
            padding: 4rem 0 3rem 0    ;
        }
    }


    &__input{
        // box-shadow: 0 1rem 1rem rgba($color-black, .1);
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        width: 100%;
        background-color: rgba($color-white, .5);  
        border: none;  
        border-bottom: 3px solid  transparent;
        display: block;
        transition: all .3s;
        border-bottom: 2px solid $color-gray-dark;
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-secondry-light;
        }

        &::-webkit-input-placeholder{
            color: $color-grey-light-3
        }

        &--track-fat{
            &:focus{
                // &-fat{
                    border-bottom: 3px solid rgba(255, 0,0,0.3);
                // }
            }
        }

        &--track-bmi{
            &:focus{
                // &-fat{
                    border-bottom: 3px solid  rgba(255,120,255,0.3);
                // }
            }
        }
        &--track-weight{
            &:focus{
                // &-fat{
                    border-bottom: 3px solid  rgba(54,162,235,0.3);
                // }    
            }
        }
        &--track-sugar{
            &:focus{
                // &-fat{
                    border-bottom: 3px solid  rgba(0,225,120,0.3);
            //   }
                // }
            }
        }
        &--track-bp{
            &:focus{
                // &-fat{
                    border-bottom: 3px solid  rgba(120,120,120,0.3);
                // }
            }
        }

       

        // &--track{
        //     &:focus:invalid{
        //         box-shadow: none;
           

               
        //         &-bmi{
        //             border: 2px solid
        //         }
        //         &-weight{
        //             border: 2px solid 
        //         }
        //         &-sugar{
        //             border: 2px solid 
        //         &-bp{
        //             border: 2px solid 
        //     }
        //     }
            
        // }
            

        
    }

    &__label{
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: .8rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;

      
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-3rem);

    }

    &__register{
        text-align: center;

        // &:link,
        // &:visited{
        //     text-decoration: none;
        //     color: $color-primary-2;
        //    font-weight: 510; 
        //    font-size: 1.7rem;
        //    border-bottom: 2px solid transparent;
        //    transition: all 0.4s;
        // }
        
        // &:hover,
        // &:active{
        //     border-bottom: 2px solid $color-primary;
        // }
    }
}